<strong>Hello, {{firstName}}</strong>


<form action="/hello" method="post" >
    <input type="text" name="firstName" value="{{firsName}}">
    <input type="text" name="lastName">
    <input type="submit">
</form>